.card-star, .card-rate-score {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--light-grey-with-opacity);
    height: 53px;
    border-radius: 100%;
    width: 53px;
}

.card-star img {
    width: 20px;
}

.card-text-title {
    margin: 0.67em 0em 0.33em 0em;
}

.card-text-resume {
    color: var(--light-grey);
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.5;
}

.card-rate {
    display: flex;
    justify-content: space-between;
    margin: 35px 0;
    color: var(--light-grey);
    font-weight: 700;
}

.card-rate-score:hover {
    background: var(--light-grey);
    cursor: pointer;
    color: var(--white);
    transition: .3s ease-in;
}

.card-rate-score-active {
    background:var(--orange);
    color:var(--white)
}

.card-rate-button {
    padding: 16px;
    border-radius: 32px;
    background-color: var(--orange);
    color: var(--white);
    cursor: pointer;
    letter-spacing: 2px;
    font-weight: 700;
}

.card-rate-button:hover {
    background-color: var(--white);
    color: var(--orange);
    transition: .2s ease-in;
}

@media screen and (max-width: 510px) {

    .card-star img {
        width: 15px;
    }
    
    .card-text-title {
        margin: 0.67em 0em 0.33em 0em;
    }

    .card-star, .card-rate-score { 
        height: 46px;
        width: 46px;
    }

    .card-rate-button {
        padding: 14px;
    }
}

@media screen and (max-width: 375px) {
    .card-star, .card-rate-score { 
        height: 40px;
        width: 40px;
    }

}